<nb-layout>

  <nb-layout-header>
    DEMO - TECHNOFUTUR
  </nb-layout-header>

  <nb-sidebar>
    <app-nav></app-nav>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    &copy; BStorm - 2019
  </nb-layout-footer>

</nb-layout>
